@mixin font-family {
    font-family: 'Open Sans', sans-serif
}

@mixin  shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0,.25);
}

@mixin  transition {
    transition: .2s ease-in-out;
}

@mixin checkbox {
    //before
    width: 100%;
    height: 100%;
    border: 1px solid $gray;
    border-radius: $br;
    display: block;

}