$dark-clr: #212121;
$white-clr:  #fff;
$lightgray-clr: #EAEAEA;
$gray: #C4C4C4;
$red-clr: #C13E3E;
$green-clr: #3ec19e;
$br: 5px;
$pd-cont: 15px;
$width-todo: 550px;

$fs-title: 24px;
$fs-item:  18px;

$size-checkbox: 20px;
$size-delete: 25px;